{{> partials/head.html}}
<div class="outerWrapper">
    <div id="wrapper">
        {{> partials/header.mustache}}
        <div class="gridContainer mt-2 mb-2">
            <div class="row">
                <div class="col col-12 main">
                    <h1>Anwendung für die Menschen, die sich selbst fit halten müssen/wollen!</h1>
                    {{> partials/form.html}}
                    {{> partials/result-kallorii.html}}
                    {{> partials/table-menu.html}}
                    {{> partials/list-of-products.html}}
                </div>
            </div>

        </div>
        {{> partials/popup.mustache}}
        {{> partials/footer.html}}
    </div>
</div>
</body>
</html>


