<div class="list-of-products shadow mt-5"  style="display: none;">
    <div class="form__row row mb-2">
        <div class="col col-firstname">&nbsp;</div>
        <div class="col col-firstname">
            <div class="alert m-0">
                <h2 class="headline headline--dotted"><span>Ihre Einkaufsliste</span></h2>
                <button class="btn btn-primary" id="show-menu" style="display: none;">Das Speiseplan einzeigen</button>
                <div class="result-text"></div>
            </div>
        </div>
        <div class="form__row row mb-2">
            <div class="col col-firstname">&nbsp;</div>
            <div class="col col-firstname">
                <div class="print-result">
                    <div class="col-12 text-right">
                        <button class="btn btn-primary" id="liste-print">Die Einkaufsliste ausdrucken</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
