<footer>
    <div class="fancyFooter">
        <div class="footer-gridbox">
            <a href="https://www.bauer-plus.de/lecker-footer">
                <div class="footer-coverbox">
                    <img class="footer--cover" src="./img/cover.jpg" alt="">
                    <div class="a--abo">Hier geht's zum Abo <span class="icon icon-arrow_link"></span></div>
                </div>
            </a>
        </div>

        <div class="footer-gridbox">
            <section>
                <div class="js-interactiveTeaser newsletterSubscription newsletterSubscriptionFooter">
                </div>
            </section>
        </div>
        <div class="footer-gridbox footer-gridbox--last">
            <div class="footer-divider bp-4-max"></div>
            <section class="footerMenu">
                <ul class="list list--footer-menu">
                    <li><a href="http://mail.lecker.de/join/51d/newsletter-anmeldung">Newsletter</a></li>
                    <li><a href="https://www.baueradvertising.de/portfolio/lecker-online/">Mediadaten</a></li>
                    <li><a href="/ueber-uns-74840.html">Über uns</a></li>
                    <li><a href="/kontakt-59702.html">Kontakt</a></li>
                    <li><a href="/themen">Themen &amp; Tags</a></li>
                    <li><a href="https://www.lecker.de/rezept-kategorien">Rezept-Kategorien</a></li>
                    <li><a href="/faq-haeufig-gestellte-fragen-59744.html">FAQ</a></li>
                </ul>
            </section>
            <section class="iconNavigation">
                <ul>
                    <li><a href="https://www.facebook.com/lecker"><span class="icon icon-facebook icon--vivid"></span></a></li>
                    <li><a href="https://de.pinterest.com/leckerde/"><span class="icon icon-pinterest icon--vivid"></span></a></li>
                    <li><a href="https://www.instagram.com/lecker_magazin/"><span class="icon icon-instagram icon--vivid"></span></a></li>
                    <li><a href="https://plus.google.com/+LECKERde/posts"><span class="icon icon-googleplus icon--vivid"></span></a></li>
                </ul>
                <div class="footer-divider bp-4-min"></div>
            </section>
        </div>
    </div>
</footer>
<div class="printFooter">
			<span>
				Vielen Dank, dass dir unsere Rezepte und Artikel auf<br>
				www.LECKER.de gefallen. <br>
				Wir freuen uns auf deinen nächsten Besuch!
			</span>

    <span>Copyright 2015 LECKER.de. All rights reserved</span>
</div>
<div class="lightbox" style="display: none;"></div>
<script src="js/script.min.js" type="application/javascript"></script>
