<header class="header">
    <nav>
        <a href="/" class="header-logo">
            <span class="header-logo-icon"><img src="./img/lecker-fork.svg" alt="Lecker.de"
                                                data-pin-no-hover="true"></span>
            <span class="header-logo-text"><img src="./img/lecker-text.svg" alt="Lecker.de"
                                                data-pin-no-hover="true"></span>
        </a>

        <div class="js-burger-toggle header-menu-icons bp-4-max">
            <span class="icon icon-burger icon--big"></span>
        </div>

        <div class="js-search-close header-menu-icons">
            <span class="icon icon-close icon--big"></span>
        </div>

        <div class="header-menu-icons header-search">
            <form class="form-search js-form-search ng-pristine ng-valid" action="/suche-rezept">
                <input type="search" placeholder="Rezepte &amp; Artikel suchen ..." class="js-search-term">
                <input type="submit" class="js-search-button" style="display:none">
            </form>
            <span class="js-search-toggle icon icon-search icon--big icon-search--square"></span>
        </div>

        <div class="header-navbar">
            <div class="header-navbar--border-top bp-4-min"></div>
            <div class="header-navbar--border-bottom">
                <ul class="list list--navi-1st-lvl list--burger-dotted-divided">


                    <li class="list--burger-no-divider js-dropdown-hover">
                        <a href="/rezepte" class="item" name="dropdown_0"><span
                                class="js-force-flyout">Rezepte</span></a>
                    </li>

                    <li class="list--burger-no-divider js-dropdown-hover">
                        <a href="/kochen" class="item" name="dropdown_1"><span class="js-force-flyout">Kochen</span></a>
                    </li>

                    <li class="list--burger-no-divider js-dropdown-hover">
                        <a href="/backen" class="item" name="dropdown_2"><span class="js-force-flyout">Backen</span></a>
                    </li>

                    <li class="list--burger-no-divider js-dropdown-hover">
                        <a href="/getraenke" class="item" name="dropdown_3"><span
                                class="js-force-flyout">Getränke</span></a>
                    </li>

                    <li class="list--burger-no-divider js-dropdown-hover">
                        <a href="/deko" class="item" name="dropdown_4"><span class="js-force-flyout">Deko</span></a>
                    </li>

                    <li class="list--burger-no-divider js-dropdown-hover">
                        <a href="/grillen" class="item" name="dropdown_5"><span
                                class="js-force-flyout">Grillen</span></a>
                    </li>

                    <li class="list--burger-no-divider js-dropdown-hover">
                        <a href="/rezepte/sommer-rezepte" class="item" name="dropdown_6"><span class="js-force-flyout">Sommer</span></a>
                    </li>
                    <li><a href="/news" title=""><span>News</span></a></li>
                    <li class="list--burger-no-divider js-dropdown-hover">
                        <a href="/app-fuer-ios-und-android-lecker-rezepte-fuer-jeden-tag-50486.html" class="item"
                           name="dropdown_7"><span class="js-force-flyout">Apps</span></a>
                    </li>

                    <li class="list--burger-no-divider js-dropdown-hover">
                        <a href="http://laden.lecker.de/" class="item" name="dropdown_8"><span class="js-force-flyout">Laden</span></a>
                    </li>

                    <li class="list--burger-no-divider js-dropdown-hover bp-4-max list--navi-1st-lvl__right">
                        <a href="/gewinnspiele" class="item" name="dropdown_9"><span class="js-force-flyout">Gewinnspiele</span></a>
                    </li>

                    <li class="list--burger-no-divider js-dropdown-hover bp-4-max list--navi-1st-lvl__right">
                        <a href="https://www.bauer-plus.de/lecker-navi" class="item" name="dropdown_10"><span
                                class="js-force-flyout">Abo</span></a>
                    </li>
                    <li class="list--burger-no-divider js-dropdown-hover bp-4-min list--navi-1st-lvl__right">
                        <a href="https://www.bauer-plus.de/lecker-navi" class="item" name="dropdown_11"><span
                                class="js-force-flyout">Abo</span></a>
                    </li>
                    <li class="list--burger-no-divider js-dropdown-hover bp-4-min list--navi-1st-lvl__right">
                        <a href="/gewinnspiele" class="item" name="dropdown_12"><span class="js-force-flyout">Gewinnspiele</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
