<article class="article menu-container" style="display: none;">
    <div class="article-form form--modal w-100 p-0 gridContainer">
        <div class="form__row row mb-2">
            <div class="col col-12">
                <h2 class="headline headline--dotted"><span>Ihres Speiseplan</span></h2>
                <div class="result-text display gridContainer"></div>
                <div class="result-text print gridContainer"></div>
            </div>
            <div class="form__row row mb-2">
                <div class="print-result">
                    <div class="col col-firstname">&nbsp;</div>
                    <div class="col col-firstname text-right">
                        <button class="btn btn-success" id="list-generation">Einkaufsliste generieren</button>
                        <button class="btn btn-primary" id="menu-print">Das Speiseplan ausdrucken</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
